<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=cancel" />
<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="40%">
        <mat-card appearance="outlined" class="cancel-card" fxLayout="column" fxLayoutAlign="space-around center">
            <span class="material-symbols-outlined">
                cancel
            </span>
            <mat-card-header>
                <mat-card-title class="title">Payment has been cancelled!</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
</div>