<div fxLayout="row" fxLayoutAlign="center center" class="main-container">
  <mat-card class="login-card" fxFlex="30%">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <form [formGroup]="loginForm" id="loginForm">
          <div>
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Email</mat-label>
              <input formControlName="email" type='email' matInput />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput />
            </mat-form-field>
          </div>
        </form>
        <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="2%">
          <div>
            <button mat-raised-button (click)="login()" type="submit" form="loginForm" color="primary" fxFlex="100%">
              Login
            </button>
          </div>
          <div>
            <button mat-raised-button [routerLink]="['/register']" fxFlex="100%">
              Register
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>